.single-item-container {
    display: flex;
}

.single-item-check-box {
    margin-left: 20px;
}

.single-item-id {
    margin-left: 20px;
}

.menu-descriptions-space-between {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: space-between;
    /* flex-grow: 1; */
}

.menu-descriptions {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    justify-content: space-around;
    /* flex-grow: 1; */
}

.single-description-wrapper {
    display: flex;
    align-items: center;
    flex: 1;
}

.single-description-wrapper-align-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;
}

.drop-down-menus {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.left-margin {
    margin-left: 20px;
}

.margin-right {
    margin-right: 20px;
}

.global-button-container {
    display: flex;
    justify-content: flex-end;
}

.horizontal-rule {
  border-bottom: 1px solid gray;
  width: 100%;
  margin: 20px 0;
}